/* -------- RESET -------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

/* -------- COMMONS -------- */
body {
    font-family: 'Lato', sans-serif;
}
