/* -------- RESET -------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

/* -------- COMMONS -------- */
body {
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        #009688,
        #009688 15%,
        #DBDBD2 15%
    );
}

.flex {
    display: flex;
}

button {
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0 4px;
    padding: 4px;
}

button:hover {
    border: 1px solid lightgray;
}

button:active {
    transform: translateY(1px);
}

.avatar.box img {
    border-radius: 50px;
}
  
/* -------- MAIN -------- */
.big.container {
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    border: 1px solid lightgray;
}

.container .header {
    background-color: #E6DFD6;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.header i {
    color: gray;
    font-size: 18px;
}

.header .avatar.box img {
    width: 50px;
    margin: 0 8px;
}

.header .avatar.box, .header .options.box {
    align-items: center;
    margin: 5px 0;
}

/* --- LEFT-SIDE --- */
.left-side.container {
    width: 30%;
}

/* --- RIGHT-SIDE --- */
.right-side.container {
    width: 70%;
}

.last.access {
    font-size: 12px;
    color: gray;
    margin-top: 2px;
}